@import "~bootstrap/scss/bootstrap";

header {
    .header-top {
        height: 30px;
        background-color: #0282f9;
    }

    .header-link {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            display: inline-block;

            .link {
                text-decoration: none;
                color: inherit;
                font-weight: 600;
                padding: 10px;
            }
        }
    }
}

.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    height: 400px;
}

.comics {
    background-color: #1c1c1c;

    .box {
        color: white;
        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}

footer {
    .footer-top {
        background-image: url(../images/footer-bg.jpg);
        background-size: cover;
        color: white;

        ul {
            padding: 0;
            list-style: none;

            a {
                text-decoration: none;
            }
        }

        .footer-image {
            img {
                width: 100%;
                aspect-ratio: 3/2;
                object-fit: cover;
            }
        }
    }

    .footer-bottom {
        background-color: #303030;

        .button {
            border: 2px solid #0282f9;
            padding: 10px 15px;
            color: white;
            cursor: pointer;
        }

        .social-container {
            color: #0282f9;

            .social {
                cursor: pointer;
            }
        }
    }
}
